.example-card {
    max-width: 80%;
    margin: auto;
  }
  
  .container{
    width: 80%;
    margin: auto;
padding-top: 20px;
  }
.background{
    background-color: rgb(211, 219, 226);
    height: 90%;
}

  .grid{
    justify-content: space-around;
    display: flex;
    align-items: center;
    align-content: start;
    margin-bottom: 30px;
}
.fullAdresss{
    
    display: flex;
    margin-bottom: 10px;
}

agm-map {
    height: 300px;
    width: 100%;
    margin: auto;
  }
