.example-card {
    max-width: 80%;
    margin: auto;
  }
  
  .container{
    width: 80%;
    margin: auto;
padding-top: 20px;
  }
.background{
    background-color: rgb(211, 219, 226);
    height: 90%;
}

  .grid{
    justify-content: space-around;
    display: flex;
    align-items: center;
    align-content: start;
}

.fullName{
    grid-column: 1/2;
    grid-row: 1/2;
}
.phone{
    grid-column: 2/3;
    grid-row: 1/2;
}
