<div class="background">
    <div class="container">
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>Detalhes do Usuário</mat-card-title>
            <mat-card-subtitle><p>{{userList[index].username}}</p></mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div class="grid"> 
                    <div class="fullName"> <h3>Nome Completo: </h3><div>{{userList[index].name}}</div>
                    </div>
                    <div class="phone"> <h3>Telefone: </h3><div>{{userList[index].phone}}</div>
                    </div>
                    <div class="website"> <h3>Site: </h3><div>{{userList[index].website}}</div>
                    </div>
                    <div class="companyName"> <h3>Nome da Empresa: </h3><div>{{userList[index].company.name}}</div>
                    </div>
                    </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="back()">Voltar</button>
            </mat-card-actions>
          </mat-card>












    </div>
</div>
