
    <mat-toolbar>
      <mat-toolbar-row fxLayoutAlign="space-between center ">
        <div fxLayout="row">
            <button mat-button>
                <img src="../../assets/wayon-logo.png">
            </button>
    
        <div *ngIf="!deviceXs">
            <button mat-button (click)="goToUsersList()">Usuários</button>
        </div>
    </div>
        <div>
            <button mat-icon-button>
                <mat-icon *ngIf="deviceXs">account_circle</mat-icon>
        <span *ngIf="!deviceXs">
            <mat-icon >account_circle</mat-icon>
        </span>
            </button>
        </div>

      </mat-toolbar-row>
  
      <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
        <button mat-button (click)="goToUsersList()">Usuários</button>
      </mat-toolbar-row>
    </mat-toolbar>
